/* You can add global styles to this file, and also import other style files */
body {
  font-family: Barlow, Helvetica;
  color: #2d2d2d;
}

.table {
  width: 500px;
  border-spacing: 0;
  border: 1px solid #36033B;
  border-radius: 6px;

  thead {
    background: linear-gradient(#66076D, #36033B);
    color: #75FA93;
    height: 36px;
    font-size: 16px;
  }

  th:first-child {
    padding-left: 1rem;
    text-align: left;
  }

  th:last-child {
    padding-right: 1rem;
    text-align: left;
  }

  tbody tr:last-child td {
    border: 0;
  }

  td {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #36033B;
    height: 40px;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      text-align: center;
      padding-right: 1rem;
    }
  }
}

.title {
  color: #36033B;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .table {
    width: 320px;
  }
}
